.resoContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 40px;
    width: 90vw;
    height: 90%;
    margin: 20px;
    place-items: center;
}